@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(./public/bg-engineer.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}