.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    text-align: center; 
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  