.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Full viewport height to center vertically */
    text-align: center; /* Center text horizontally */
  }
  
  .input {
    margin-top: 30px;
    margin-left: 20px;
    padding: 5px 50px;
    font-size: 16px;
    text-align: center;
  }

  .button-1 {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25px;
  }
  
  /* body {
    background: url(../public/bg-engineer.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
  } */